.home {
  position: relative;
}

.home-section {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    z-index: $zhome-overlay;
    background: rgba(255, 255, 255, 0.4);
  }
}

.tag {
  position: absolute;
  width: 100%;
  max-width: 600px;
  z-index: $zcounter;
  padding: 0;
  top: 20vh;
  &__title {
    margin: 0;
    font-size: 8rem;
    line-height: 8rem;
    font-weight: $bold;
    color: $red;
  }
  &__text {
    font-weight: $bold;
    font-size: 2.4rem;
    line-height: 3.5rem;
     color: $red;
  }
  &__arrow {
    position: relative;
    bottom: -1rem;
  }
}

.home1, .home3 {
  .tag {
    left: $left;
  }
  .tag__title, .tag__text, .tag__arrow {
    transform: translateX(-700px);
  }
}

.home2 {
  .tag {
    right: $right;
    text-align: right;
  }
  .tag__title, .tag__text, .tag__arrow {
    transform: translateX(700px);
  }
}

@include hd {
  .tag {
    max-width: 600px;
    &__title {
      font-size: 10rem;
      line-height: 11rem;
    }
    &__text {
      font-size: 3.2rem;
      line-height: 4.2rem;
    }
  }
  .home1, .home3 {
    .tag {
      left: $left-grid;
    }
  }
  .home2 {
    .tag {
      right: $right-grid;
    }
  }
}



@include tablet {
  .tag {
    width: 100%;
    max-width: 340px;
    &__text {
      font-size: 2rem;
      line-height: 3rem;
    }
    &__title {
      font-size: 6rem;
      line-height: 7rem;
    }
  }
}

@include mobile {
  .tag {
    width: 100%;
    max-width: 250px;
    &__title {
      font-size: 5rem;
      line-height: 5rem;
    }
    &__text {
      font-size: 1.8rem;
      line-height: 2.5rem;
    }
  }

}
