.single {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 6rem;
}

.canal-single {
  &__top {
    width: 100%;
    position: relative;
    &--small {
      width: 66.66%;
      .canal-single__title{
        color: $red;
      }
      .canal-single__meta{
        bottom: auto;
        top: 0;
      }
    }
  }
  &__top-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__hero {
    width: 100%;
    height: 60vw;
    max-height: 600px;
    @include backgroundCover;
    position: relative;
  }
  &__header {
    position: absolute;
    bottom: 4rem;
    left: 12rem;
  }
  &__category {
    display: inline-block;
    text-align: center;
    color: white;
    background: $green;
    padding: 1rem 2rem;
    margin: 0 0 2rem 0;
    font-size: 1.6rem;
  }
  &__title {
    color: white;
    font-size: 7rem;
    line-height: 8rem;
    font-weight: $bold;
    margin: 0 0 2rem 0;
  }
  &__subtitle {
    color: white;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: $bold;
    max-width: 700px;
  }
  &__meta {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
  }
  &__date {
    background: $red;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    h2 {
      font-size: 1.8rem;
      line-height: 1;
      color: white;
      font-weight: $regular;
      margin: 0;
    }
    h3 {
      font-size: 6rem;
      color: white;
      font-weight: $bold;
    }
  }
  &__author {
    padding: 1rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
    h2 {
      font-size: 3rem;
      line-height: 2rem;
      color: white;
      font-weight: $bold;
      margin: 0 0 1rem 0;
    }
    span {
      font-size: 1.8rem;
      line-height: 2rem;
      color: white;
      font-weight: $bold;
    }
  }

  &__excerpt {
    padding-top: 4rem;
    padding-bottom: 4rem;
    position: relative;
    p {
      font-size: 3rem;
      line-height: 4rem;
      font-weight: $bold;
      color: $red;
      max-width: $max-width-content;
    }
    &--small {
      width: 32%;
      padding: 0;
      p {
        font-size: 2rem;
        line-height: 3rem;
      }
    }
  }
  &__content {
    margin: 0 auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@include desktop {
  .canal-single {
    &__hero {
      height: 80vw;
    }
    &__top-wrap {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
    }
     &__top {
      &--small {
        width: 100%;
      }
    }
    &__excerpt {
      &--small {
        width: 100%;
        padding: 0;
        padding: 2rem 0;
        p {
          font-size: 2rem;
          line-height: 3rem;
        }
      }
    }
    &__title {
      font-size: 6rem;
      line-height: 6rem;
    }
    &__subtitle {
      color: white;
      font-size: 2rem;
      line-height: 3rem;
    }
  }
}

@include tablet {
  .canal-single {
    &__title {
      color: white;
      font-size: 4rem;
      line-height: 5rem;
    }
    &__subtitle {
      display: none;
    }
    &__header {
      position: absolute;
      bottom: 10rem;
      left: 3rem;
    }
    &__date {
      padding: 1rem;
      h2 {
        font-size: 1.4rem;
      }
      h3 {
        font-size: 4rem;
        line-height: 1;
      }
    }
    &__excerpt {
       p {
        font-size: 2rem;
        line-height: 3rem;
      }
    }
  }
}

@include mobile {
  .canal-single {
    &__hero {
      height: 80vw;
    }
    &__title {
      font-size: 3rem;
      line-height: 4rem;
    }
  }
}
