.single-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  left: -10px;
  &__pdf {
    width: 100%;
    margin: 0 0 3rem 0;
    i {
      color: $red;
      font-size: 2.5rem;
      @include animateUp;
    }
  }
}

@include desktop-wide {
  .single-side {
    position: relative;
    left: 0;
    flex-direction: row;
    padding: 2rem 0;
    &__pdf {
      width: auto;
      margin: 0 2rem 0 0;
    }
  }
}