.single {
  position: relative;
  padding-top: 6rem;
  padding-bottom: 10rem;
}
.canal-single {
  &__top {
    width: 100%;
    position: relative;
    &--small {
      width: 83.3333%;
      .canal-single__title{
        color: $red;
      }
      .canal-single__meta{
        bottom: auto;
        top: 0;
      }
    }
  }
  &__top-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
  &__hero {
    width: 100%;
    height: 60vw;
    max-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: relative;
    &--cover:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(to bottom,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0) 45%,
        rgba(0,0,0,0) 45%,
        rgba(0,0,0,0.6) 100%
      );
    }
  }
  &__header {
    position: absolute;
    bottom: 4rem;
    left: 12rem;
    z-index: 10;
  }
  &__category {
    display: inline-block;
    text-align: center;
    color: white;
    background: $green;
    padding: 1rem 2rem;
    margin: 0 0 2rem 0;
    font-size: 1.6rem;
  }
  &__title {
    color: white;
    font-size: 4rem;
    line-height: 5rem;
    font-weight: $bold;
    margin: 0 0 2rem 0;
  }

  &__meta {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
  }
  &__date {
    background: $red;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    h2 {
      font-size: 1.8rem;
      line-height: 1;
      color: white;
      font-weight: $regular;
      margin: 0;
    }
    h3 {
      font-size: 6rem;
      color: white;
      font-weight: $bold;
    }
  }
  &__author {
    padding: 1rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
    h2 {
      font-size: 3rem;
      line-height: 2rem;
      color: white;
      font-weight: $bold;
      margin: 0 0 1rem 0;
    }
    span {
      font-size: 1.8rem;
      line-height: 2rem;
      color: white;
      font-weight: $bold;
    }
  }

  &__main {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: flex;
    justify-content: flex-start;
  }
  &__content {
    width: calc( (100%/ 6 ) * 4);
    width: 100%;
  }
  &__excerpt {
    position: relative;
    padding-bottom: 4rem;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: $bold;
    color: $red;
    width: 50%;
    p {
      line-height: 2rem;
    }

    &--small {
      width: 16%;
      padding: 0 0 0 1rem;
      .single-side {
        display: none;
      }
      font-size: 1.8rem;
      line-height: 2.6rem;
    }
  }
  &__entry {
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 4rem;
  }
  &__graficos {
    position: relative;
    z-index: 5;
  }
}

@include desktop-wide {
  .single {
    position: relative;
    padding-bottom: 6rem;
  }

  .canal-single {
    &__top {
      width: 100%;
      position: relative;
      &--small {
        width: 100%;
        .canal-single__title{
          color: $red;
        }
        .canal-single__meta{
          bottom: auto;
          top: 0;
        }
      }
    }
    &__excerpt {
      width: 100%;
      &--small {
        padding: 0;
      }
    }
    &__top-wrap {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
    }
    &__hero {
      width: 100%;
      height: 60vw;
      max-height: 600px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      position: relative;
    }
    &__header {
      position: absolute;
      bottom: 4rem;
      left: 12rem;
    }
    &__category {
      display: inline-block;
      text-align: center;
      color: white;
      background: $green;
      padding: 1rem 2rem;
      margin: 0 0 2rem 0;
      font-size: 1.6rem;
    }
    &__title {
      color: white;
      font-size: 3rem;
      line-height: 4rem;
    }
    &__meta {
      position: absolute;
      left: 0;
      bottom: 0;
      display: flex;
    }
    &__date {
      background: $red;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
      h2 {
        font-size: 1.8rem;
        line-height: 1;
        color: white;
        font-weight: $regular;
        margin: 0;
      }
      h3 {
        font-size: 6rem;
        color: white;
        font-weight: $bold;
      }
    }
    &__author {
      padding: 1rem 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      display: none;
      h2 {
        font-size: 3rem;
        line-height: 2rem;
        color: white;
        font-weight: $bold;
        margin: 0 0 1rem 0;
      }
      span {
        font-size: 1.8rem;
        line-height: 2rem;
        color: white;
        font-weight: $bold;
      }
    }
    &__main {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      padding-top: 4rem;
      padding-bottom: 4rem;
      .single-side {
       width: 100%;
      }
      &--small {
        .single-side {
          display: none;
        }
      }
    }
    &__content {
      width: 100%;
    }
    &__excerpt {
      &--small {
        width: 100%;
        .single-side {
          display: flex;
        }
      }
    }
  }
}

@include tablet {
  .canal-single {
    &__category {
      display: none;
    }
    &__title {
      font-size: 2.5rem;
      line-height: 3rem;
    }
    &__excerpt {
      p {
        font-size: 1.6rem;
        line-height: 2.6rem;
      }
      &--small {
        width: 100%;
        padding: 0;
        p {
          font-size: 1.6rem;
          line-height: 2.6rem;
        }
      }
    }
  }
}