.content {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
  margin: 0;
}

.content-canal {
   padding: 4rem 0;
  column-count: 2;
  column-gap: 20px;
}

.col1 {
  .col {
    width: 100vw;
  }
}

.col2 {
  .col {
    width: 50vw;
    padding: 0 2rem 0 0;
    &:last-child {
       padding: 0;
    }
  }
}

.col3 {
  .col {
    width: 33.33vw;
    padding: 0 2rem 0 0;
    &:first-child {
      padding: 0 2rem 0 0;
    }
    &:last-child {
      padding: 0 0 0 0;
    }
  }
}

.col {
  display: flex;
  padding: 0 0 4rem 0;
  &--arriba {
    align-items: flex-start;
  }
  &--centro {
     align-items: center;
  }
  &--abajo {
     align-items: flex-end;
  }
}

.cliente-content {
  .entry {
    .col2 {
      display: flex;
      justify-content: space-between;
      .col {
        width: 50%;
        padding: 0 2rem 0 0;
        &:last-child {
          padding: 0 0 0 0;
        }
      }
    }

    .col3 {
      .col {
        width: 11.11vw;
        padding: 0 2rem 0 0;
        &:last-child {
          padding: 0 $pad 0 0;
        }
      }
    }

  }
}



@include desktop {
  .content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: flex-start;
  }

  .col1, .col2, .col3 {
    width: 100%;
    padding: 0;
    .col {
      width: 100%;
      margin: 0 0 2rem 0;
      padding: 0;
      &:first-child {
        padding: 0;
      }
      &:last-child {
        padding: 0;
      }
      &__arriba, &__centro, &__abajo {
        align-items: flex-start;
        padding: 0;
      }
    }
  }
}

@include tablet {
  .content-canal {
    column-count: 1;
    column-gap: 0;
  }
}
