.resultados-top {
  padding: 6rem 0 4rem 0;
  &__title {
    font-size: 5rem;
    line-height: 6rem;
    color: $red;
    max-width: 100%;
    margin: 0;
  }
  &__tag {
    font-size: 5rem;
    line-height: 6rem;
    font-style: italic;
    font-weight: $bold;
    color: $red;
    margin: 0;
    border-bottom: 2px solid $red;
    display: block;
    padding: 0 0 3rem 0;
  }
}

@include tablet{
  .resultados-top {
    &__title {
      font-size: 3rem;
      line-height: 4rem;
    }
  }
}
@include mobile{
  .resultados-top {
    &__title {
      span {
        display: block;
      }
    }
  }
}
