.back {
  display: flex;
  background: transparent;
  color: $red;
  padding: 1rem;
  position: fixed;
  left: 10px;
  top: 80px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1;
  align-items: center;
  cursor: pointer;
   animation: scrollX 1s infinite;
   transform: translateX(0px);
   z-index: 11;
  i {
    font-size: 1.6rem;
    margin: 0 0.7rem 0 0;
  }
}


@keyframes scrollX {
  0%   { transform: translateX(0px) }
  90% { transform: translateX(-10px) }
  100% { transform: translateX(0px)}
}