.cookies {
  background: $gray-light;
  border-top: 1px solid lighten($gray, 10%);
  bottom: 0;
  left: 0;
  max-width: 100%;
  min-height: 100px;
  opacity: 0;
  visibility: hidden;
  padding: 2rem 0;
  position: fixed;
  transition: opacity 0.3s ease;
  visibility: visible;
  width: 100vw;
  z-index: 200;
  pointer-events: none;
  &.visible {
    opacity: 1;
    transition: opacity 0.3s ease;
    visibility: visible;
    pointer-events: inherit;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__left {
    flex-grow: 1;
    padding: 0 2rem 0 0;
  }
  &__title {
    color: $red;
    font-size: 2rem;
    font-weight: $bold;
    line-height: 3rem;
    margin: 0;
  }
  &__text {
    color: $gray-dark;
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin: 0 0 1rem 0;
  }
  &__link {
    color: $gray-dark;
    display: inline-block;
    font-size: 1.4rem;
    text-decoration: underline;
    &:first-of-type {
      border-right: 1px solid $gray-dark;
      margin: 0 1rem 0 0;
      padding: 0 1rem 0 0;
    }
  }
  &__right {
    align-items: center;
    display: flex;
  }

  &__button {
    background: $gray-dark;
    border: 1px solid $gray-dark;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1;
    padding: 1rem 1.2rem;
    &:hover {
      background: darken($gray-dark, 10%);
    }
    &:last-child {
      background: white;
      color: $gray-dark;
      margin: 0 0 0 2rem;
      &:hover {
        background: $gray-dark;
        color: white;
      }
    }
  }
}

@include tablet {
  .cookies {
    &__inner {
      flex-direction: column;
    }
    &__left {
      margin: 0 0 3rem 0;
    }
  }
}