.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35px;
  position: absolute;
  right: $right;
   top: 35%;
   transform: translateY(-50%);
   z-index: $zcounter;
  .counter__number {
    font-size: 3.2rem;
    line-height: 3rem;
    margin: 0;
    font-weight: $bold;
    color: transparent;
    -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: $red;
  }
  .counter__line {
    height: 5px;
    width: 100%;
    background: $red;
    margin: 0 0 1rem 0;
    cursor: pointer;
    &:last-child {
      margin: 0;
    }
  }
  &--1 {
    transform: translateX(700px);
    .counter__line {
      &:nth-of-type(2), &:nth-of-type(3) {
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  &--2 {
    transform: translateX(-700px);
    right: auto;
    left: $left;
    .counter__line {
      opacity: 1;
     &:nth-of-type(1), &:nth-of-type(3) {
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  &--3 {
    transform: translateX(700px);
    .counter__line {
      opacity: 1;

     &:nth-of-type(1), &:nth-of-type(2) {
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

@include desktop {
  .counter {
    right: $right-grid;
    &--2 {
      left: $left-grid;
    }
  }
}

@include tablet {
  .counter {
    display: none;
  }
}
