.footer {
  bottom: 0;
  left: 0;
  max-width: 100%;
  position: fixed;
  transform: translateY(100%);
  width: 100vw;
  z-index: $zfooter;
  transition: transform 0.3s ease;

  &.expanded {
   //opacity: 1;
    transform: translateY(0);
    transition: transform 0.3s ease;
    //visibility: visible;
    .footer__wrapper {
      //display: block;
      //opacity: 1;
      //visibility: visible;
    }
  }
  &__wrapper {

    background: $red;
    display: block;
    height: 100%;
    max-width: 100%;
   // opacity: 0;
    padding-bottom: 4rem;
    padding-top: 4rem;
    //visibility: hidden;
    width: 100%;
  }
  &__cross-button {
    @include centerX;
    align-items: center;
    background: white;
    cursor: pointer;
    display: flex;
    height: 70px;
    justify-content: center;
    position: absolute;
    top: -70px;
    transition: all 0.3s ease;
    width: 100%;
    z-index: 100;
    .cross-icon {
      background: $red;
      height: 3px;
      position: absolute;
      width: 20px;
      &:after {
        @include center;
        background: $red;
        content: '';
        height: 20px;
        position: absolute;
        width: 3px;
      }
    }
    &.visible {
      opacity: 1;
      transition: all 0.3s ease;
      visibility: visible;
    }
    &.open {
      background: $red;
      transition: background 0.5s ease;
      .cross-icon {
        background: white;
        transition: background 0.5s ease;
        &:after {
          background: white;
          height: 0;
          transition: background 0.5s ease;
          width: 0;
        }
      }
    }
  }
  &__top {
    display: grid;
    grid-template-columns: 6fr 3fr 3fr;
    >div {
      opacity: 0;
    }
  }
  &__subscribe {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    max-width: 45rem;
    h3 {
      color: white;
      font-weight: $bold;
      span {
        display: block;
      }
    }
  }
  &__box {
    h5 {
      color: white;
      font-size: 1.8rem;
      line-height: 2.4rem;
      margin: 0 0 1rem 0;
    }
    form {
      position: relative;
    }
    input[type=email] {
      padding: 1rem;
      width: 100%;
      font-size: 1.6rem;
    }
    button {
      @include centerY;
      background: $gray-dark;
      border: none;
      color: white;
      padding: 0.5rem 2rem;
      position: absolute;
      right: 0.5rem;
      height: 80%;
      z-index: 10;
      cursor: pointer;
      font-size: 1.6rem;
    }
  }
  &__nav {
    ul {
      li {
        margin: 0 0 1rem 0;
        a {
          color: white;
          font-size: 1.8rem;
          font-weight: $bold;
        }
      }
    }
  }
  &__bottom {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding: 4rem 0 0 0;
    div {
      opacity: 0;
    }
  }
  &__logo {
    display: block;
    svg {
      path {
        fill: white;
      }
    }
  }
  &__social {
    display: flex;
    justify-content: space-between;
    a {
      display: block;
      margin: 0 2rem 0 0;
      i{
        color: white;
        font-size: 2rem
      }
    }
  }
  &__copy {
    align-self: flex-end;
    color: white;
    font-size: 1.4rem;
    font-weight: $bold;
    line-height: 2rem;
  }
}

@include desktop {
  .footer {
    display: none;
  }
}