.header {
  position: fixed;
  background: white;
  left: 0;
  top: 0;
  width: 100vw;
  max-width: 100%;
  z-index: $zheader;
  padding: 2rem 0 1.5rem;
  transition: padding 0.3s ease;
  box-shadow: 0px 10px 12px -10px rgba(0,0,0,0.10);
  //height: 8rem;
  &--small {
    padding: 0 0 1.5rem;
    transition: padding 0.3s ease;
  }
  &__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: $zheader-inner;
  }
  &__logo {
    margin: 0.8rem 0 0 0;
    opacity: 0;
    svg {
      path {
        transition: all 0.5s ease 1s;
      }
    }
    &.logo-white {
      svg {
        path {
          fill: white;
          transition: fill 0.1s ease;
        }
      }
    }
  }
}

@include mobile {
  .header {
    padding: 0 0 1.5rem;
  }
}
