.nav {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background: $red;
  position: fixed;
  top: 0;
  left: -100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: $zheader;
  padding: 0;
  &__inner {
    position: relative;
  }

  &__list {
    margin: 0;
    max-width: 50%;
    li {
      margin: 0;
      position: relative;
      z-index: $zheader;
      a {
        color: white;
        @include font-max-min(4.5vw, 3rem, 7rem);
        font-weight: $bold;
        transition: color 0.2s ease;
        white-space: nowrap;
        &:hover, &:active{
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: white;
          color: transparent;
          transition: color 0.2s ease;
        }
      }
      &.current_page_item {
        a {
           -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: white;
          color: transparent;
          transition: color 0.2s ease;
        }
      }
    }
  }
  &__bottom {
    transform: translateX(200vw);
    left: 65.8%;
    bottom: 0;
    position: absolute;
    padding: 0;
    z-index: $zheader;
  }

  &__small{
    li {
      margin: 0 0 1rem 0;
      text-align: left;
    }
    a {
      color: white;
      font-size: 1.5rem;
      font-weight: $bold;
      transition: color 0.2s ease;
      white-space: nowrap;
      &:hover{
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        color: transparent;
        transition: color 0.2s ease;
      }
    }
  }
  &__social {
    display: flex;
    justify-content: flex-start;
    a {
      display: block;
      margin: 0 2rem 0 0;
      i{
        color: white;
        font-size: 2rem
      }
    }
  }
}

@include desktop {
  .nav {
    &__list {
      margin: 4rem 0;
      max-width: 100%;
      li {
        a {
          &:hover, &:active{
            -webkit-text-stroke-width: 1px;
          }
        }
        &.current_page_item {
          a {
            -webkit-text-stroke-width: 1px;
          }
        }
      }
    }
    &__bottom {
      position: relative;
      right: auto;
      left: 0;
    }
    &__small{
      li {
        margin: 0 0 2rem 0;
        text-align: left;
      }
      a {
        color: white;
        font-weight: $bold;
        transition: color 0.2s ease;
        white-space: nowrap;
        &:hover{
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: white;
          color: transparent;
          transition: color 0.2s ease;
        }
      }
    }
  }
}

@include mobile {
  .nav {
    &__list {
      margin: 4rem 0 2rem 0;
    }
    &__small{
      li {
        margin: 0 0 1.5rem 0;
        text-align: left;
      }
    }
  }
}

