.sidebar {
  position: absolute;
  width: 400px;
  right: -400px;
  top: 0;
  padding: 0;
  z-index: $zsidebar;
  transition: all 0.3s ease;
  &--visible {
    right: 0;
    transition: all 0.3s ease;
  }
  &__handle {
    position: absolute;
    top: 4rem;
    left: -45px;
    cursor: pointer;
    background: white;
    width: 45px;
    height: 45px;
    span {
      position: absolute;
      @include center;
      i {
        font-size: 2.5rem;
        color: $red;
      }
    }
    &--open {
      span {
        &:after {
          height: 0;
          width: 0;
        }
      }
    }
  }
  &__content {
     background: $red;
     padding: 4rem;
  }
  &__search {
    padding: 0 0 4rem 0;
  }
  &__search-form {
    display: flex;
    justify-content: space-between;
    input {
      background: white;
      padding: 1rem;
      width: calc( 100% - 50px);
      color: black;
    }
    input[type=submit]{
      cursor: pointer;
      width: 50px;
      height: 50px;
      font-size: 0;
      background: $gray url('../images/search.svg') no-repeat center / 20px;
      &:hover {
        background-color: $gray-dark;
      }
    }
  }

  &__categories-list {
    text-align: right;
    margin: 0 0 4rem 0;
    li {
      margin: 0 0 2rem 0;
      a {
        color: white;
        font-weight: $bold;
        font-size: 2rem;
        display: block;
        opacity: 1;
         transition: opacity 0.3s ease;
        &:after {
          content: ' +';
          font-size: 2rem;
          font-weight: $bold;
          color: white;
        }
        &:hover {
          opacity: 0.8;
          transition: opacity 0.3s ease;
        }
      }
    }
  }
  &__calendar-header {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 2rem 0;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      background: lighten($red, 25%);
      height: 5px;
      left: 0;
      top: 16px;
      width: 100%;
      z-index: 5;
    }
  }
  &__calendar-title {
    font-size: 1.8rem;
    font-weight: $bold;
    color: lighten($red, 25%);
    line-height: 1;
    position: relative;
    background: $red;
    display: block;
    text-align: right;
    padding: 1rem 0 1rem 1rem;
    z-index: 10;

  }
  &__calendar {
    display: flex;
    justify-content: center;
  }
}



@include desktop {
  .sidebar {
   // top: 60vw;

  }
}

@include tablet {
  .sidebar {

    max-width: 100%;
  }
}

@include mobile {
  .sidebar {
    //top: 80vw;
     &__categories-list {
      li {
        a {
          font-size: 2.5rem;
          &:after {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}
