.topbar {
  padding: 3rem 0;
  background: white;
  position: fixed;
  top: 6rem;
  left: 0;
  z-index: 12;
  width: 100%;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__tags {
    width: calc( (100%/6)*5 );
    //overflow-x: hidden;

  }

  &__merged {
    position: relative;
    margin: 0 1rem 0 0;
    text-align: center;
    color: white;
    font-size: 1.6rem;
    line-height: 1;
    padding: 1rem ;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 2px;
    position: relative;
    z-index: 10;
    background: $gray;
    &.selected {
      background: #dc2d2b;
    }

    &:hover {
      >div {
        display: flex;
      }
    }
  }

  &__todas {
    text-align: center;
    color: white;
    font-size: 1.6rem;
    line-height: 1;
    padding: 1rem ;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 2px;
    z-index: 10;
    background: #f1e354;
  }

  &__drop {
    position: absolute;
    top: 36px;
    left: 0;
    align-items: flex-start;
    display: none;
    flex-direction: column;
    text-align: left;
    background: white;
    padding: 2px 0 0 0;

    >li {
      text-align: left;
      width: 150px;
      border-radius: 0;
      margin: 0;
      border-bottom: 1px solid white;
      &:last-child {
        border-bottom: none;
      }
    }

     //display: none;
  }


  &__list {
    display: flex;
  }
  &__tag {
    margin: 0 1rem 0 0;
    text-align: center;
    color: white;
    font-size: 1.6rem;
    line-height: 1;
    padding: 1rem ;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 2px;
    position: relative;
    z-index: 10;
    &.deselected {
      background: $gray !important;

    }
  }



  &__tags-title {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: $bold;
    color: $gray;
    margin: 0 0 2rem 0;
  }

  &__search {
    width: calc( (100%/6)*1 );
    padding: 0;

  }
  &__search-title {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: $bold;
    color: $gray;
    margin: 0 0 2rem 0;

  }
  &__search-buttons {
    display: flex;
    justify-content: space-between;
  }
  &__calendar {
    width: 49%;
    position: relative;

  }

  &__calendar-button {
    margin: 0;
    text-align: left;
    color: $gray;
    border: 1px solid $gray;
    border-radius: 2px;
    font-size: 1.4rem;
    line-height: 1;
    padding: 1.2rem 1rem 0.8rem 1rem;
    cursor: pointer;
    display: block;
    position: relative;
    height: 38px;
    i {
      color: $red;
      margin: 0 1rem 0 0;
      position: absolute;
      right: 3px;
      top: 9px;
    }
  }
  &__calendar-icon {
    position: absolute;
    background: white;
    right: 7px;
    top: 2px;
    padding: 0.8rem;
    z-index: 10;
    cursor: pointer;

    i {
      font-size: 1.6rem;
      color: $red;
    }
  }

  &__calendar-clear {
    position: absolute;
    background: white;
    right: 7px;
    top: 2px;
    padding: 0.8rem;
    z-index: 11;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;

    &.visible {
      visibility: visible;
      opacity: 1;
    }
    i {
      font-size: 1.6rem;
      color: $red;
    }
  }

  &__calendar-wrapper {
    position: absolute;
    position: absolute;
    top: 50px;
    right: 10px;
    left: auto;
    display: none;
    &.visible {
      display: block;
    }
  }

  &__key {
    width: 49%;
    position: relative;

  }

  &__key-input {
    margin: 0;
    text-align: center;
    color: $gray;
    border: 1px solid $gray;
    border-radius: 2px;
    font-size: 1.4rem;
    line-height: 1;
    padding: 1rem;
    display: block;
    position: relative;
    text-align: left;
    width: 98%;
    height: 38px;
  }
  &__key-submit {
    position: absolute;
    background: white;
    right: 7px;
    top: 2px;
    padding: 0.8rem;
    z-index: 10;
    cursor: pointer;

    i {
      font-size: 1.6rem;
      color: $red;
    }
  }
  &__key-clear {
    position: absolute;
    background: white;
    right: 7px;
    top: 2px;
    padding: 0.8rem;
    z-index: 11;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;

    &.visible {
      visibility: visible;
      opacity: 1;
    }
    i {
      font-size: 1.6rem;
      color: $red;
    }
  }
}