.topbarm {
  padding: 3rem 0 1rem 0;
  background: white;
  position: absolute;
  top: 2rem;
  left: 0;
  z-index: 12;
  width: 100%;
  display: none;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__tags {
    width: 40%;
    border: 1px solid darken($gray-light, 5%);
    border-radius: 6px;
    position: absolute;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
    //overflow-x: hidden;
    padding: 1rem 1rem;
    z-index: 10;
    background: white;
    top: 0;
    max-height: 50px;
    overflow-y: hidden;
    &.expanded {
      max-height: 1000px;
      z-index: 21;

    }
  }
  &__tags-title {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: $regular;
    color: $gray-dark;
    margin: 0 0 2rem 0;
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;

    i{
      color: $red;
      position: absolute;
      right: 0;
      top: -2px;
      font-size: 2.5rem;
      line-height: 1;

    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    background: white;
    position: relative;
    width: 100%;

  }
  &__tag {
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.8rem;
    line-height: 1;
    margin: 0 0 1rem 0;
    border-radius: 5px;
    position: relative;
    width: 100%;
    cursor: pointer;

    &:before {
      content: '';
      width: 18px;
      height: 18px;
      background: white;
      border: 1px solid $gray;
      right: 1.2rem;
      top: 8px;
      position: absolute;
    }
    &--selected {
      &:after {
        content: '';
        position: absolute;
        right: 1.5rem;
        top: 11px;
        background: url(../images/check.svg) no-repeat right center / contain;
        width: 14px;
        height: 14px;
      }
    }
  }

  &__todas {
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.8rem;
    line-height: 1;
    margin: 0 0 1rem 0;
    border-radius: 5px;
    position: relative;
    width: 100%;
    cursor: pointer;
    background: $gray-dark;

  }
  &__confirmar {
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.6rem;
    line-height: 1;
    margin: 1rem 0 0 0;
    border-radius: 5px;
    width: 100%;
    background: $gray;
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;

  }
  &__search {
    position: absolute;
    right: 9vw;
    top: 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
   &__search-toggle {
    box-shadow: 0px -1px 2px 0px rgba(0,0,0,0.1);
    position: relative;
    border-radius: 6px;
    top: 0;
    width: 55px;
    height: 50px;
    right: -1px;
    border: 1px solid darken($gray-light, 5%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 14;
    cursor: pointer;
    i {
      font-size: 2rem;
      color: $red;
      position: absolute;
      top: 15px;
      left: 18px;
      &:last-child {
        display: none;
      }
    }
    &.expanded {
      border-bottom: none;
      border-radius: 6px 6px 0 0;
      height: 60px;
      position: relative;
     z-index: 16;
      i {
        &:first-child {
          display: none;
        }
        &:last-child {
          display: block;
        }
      }

    }
  }

  &__search-wrapper {
    //display: none;
    background: white;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
    padding: 1rem;
    border: 1px solid darken($gray-light, 5%);
    border-radius: 6px 0 6px 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 350px;
    margin-top: -1px;
    margin-right: -1px;
    opcacity: 0;
    visibility: hidden;
    z-index: -1;
    display: none;
    margin-top: -1px;
    &.visible {
      opacity: 1;
      visibility: visible;
      z-index: 14;
      display: flex;
    }
  }

  &__search-title {
    font-size: 2rem;
    line-height: 3rem;
    margin: 0 0 1rem 0;
    font-weight: $regular;
    color: $gray-dark;
    align-self: flex-start;
  }
  &__search-buttons {
    width: 100%;
  }
  &__key {
    position: relative;
    width: 100%;
    margin: 0 0 2rem 0;

  }
  &__key-input {
    width: 100%;
    position: relative;
    padding: 1rem;
    font-size: 1.6rem;
    color: black;
    border: 1px solid darken($gray-light, 5%);
    font-weight: $regular;
    -webkit-appearance: none;
    box-shadow: none !important;
  }
  &__key-submit {
    position: absolute;
    right: 6px;
    z-index: 10;
    top: 6px;
    padding: 0.6rem;
    -webkit-appearance: none;
    //cursor: pointer;
    i {
      color: $red;
      font-size: 2rem;
    }

  }
  &__key-clear {
    position: absolute;
    right: 6px;
    z-index: 14;
    top: 3px;
    visibility: hidden;
    opacity: 0;
    background: white;
    padding: 0.8rem;
    z-index: 0;
    cursor: pointer;
    i {
      color: $red;
      font-size: 2rem;
    }
    &.visible {
      visibility: visible;
      opacity: 1;
      z-index: 11;

    }
  }



  &__calendar {
    .flatpickr-calendar {
       border: none !important;
    }
  }

  &__calendar {
    visibility: hidden;
    opacity: 0;
    &.visible {
      visibility: visible;
    opacity: 1;

    }
  }

  &__search-confirm {
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.6rem;
    line-height: 1;
    margin: 1rem 0 0 0;
    border-radius: 5px;
    background: $gray;
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;
  }
}

@include desktop {
  .topbarm {
    display: block;
  }
}

// @include tablet {
//   .topbarm {
//     &__tags {
//       width: 65%;
//     }
//   }
// }

@include tablet {
  .topbarm {
    padding: 3rem 0 1rem 0;
    top: 1rem;
    &__tags {
      padding: 1.2rem 1rem;
      max-height: 34px;
      width: 65%;
    }
    &__tags-title {
      font-size: 1.6rem;
      line-height: 1rem;
      margin: 0 0 2rem 0;
      i{
        top: -12px;
      }
    }
    &__tag {
      padding: 0.6rem 1.5rem;
      font-size: 1.6rem;
      line-height: 1;
      margin: 0 0 0.5rem 0;
      &:before {
        width: 14px;
        height: 14px;
        right: 1.2rem;
        top: 6px;
      }
      &--selected {
        &:after {
          right: 1.4rem;
          top: 8px;
          width: 12px;
          height: 12px;
        }
      }
    }

    &__todas {
      padding: 0.6rem 1.5rem;
      font-size: 1.6rem;
      line-height: 1;
      margin: 0 0 0.8rem 0;
      border-radius: 5px;
      position: relative;
      text-align: center;
    }
    &__confirmar {
      padding: 0.6rem 1.5rem;
      font-size: 1.6rem;
      margin: 0 ;
    }
    &__search {
       right: 4vw;
       top: 1px;
       display: flex;
       flex-direction: column;
       align-items: flex-end;

    }
     &__search-toggle {
      top: 0;
      width: 45px;
      height: 34px;
      i {
        font-size: 1.8rem;
        top: 8px;
        left: 14px;
      }
      &.expanded {
        height: 40px;
      }
    }

    &__search-wrapper {
      padding: 1rem;
      margin-top: -1px;
      margin-right: -1px;
      margin-top: -1px;
    }

    &__search-title {
      display: none;
      font-size: 1.8rem;
      line-height: 2rem;
      margin: 0 0 1rem 0;
    }
    &__key {
      margin: 0;
    }
    &__key-input {
      padding: 0.8rem 1rem;
    }
    &__key-submit {
      top: 4px;
    }
    &__key-clear {
      right: 6px;
      top: 2px;
      padding: 0.6rem;
    }
    &__search-confirm {
      margin: 0.5rem 0 0 0;
    }
  }

}

