.contacto {
  width: 100%;
  background: white;
  padding: 0 0 8rem 0;
  &__content {
    display: grid;
    grid-template-columns: 4fr 2fr;
  }
}

@include desktop-wide {
  .contacto {
    &__content {
      grid-template-columns: 1fr 1fr;
    }
  }
}


@include desktop {
  .contacto {
    &__content {
      grid-template-columns: 1fr;
    }
  }
}


