.contacto-info {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;

  &.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: white;
    max-width: 800px;
    width: 90%;
  }
  &__close {
    align-self: flex-end;
    display: inline-block;
    margin: 0 0 2rem 0;
    border: none;
    background: transparent;
    cursor: pointer;

    i {
      font-size: 2rem;
      color: $red;
    }
  }
  &__content {


    table {
      background: white;
      border: 1px solid $gray;
      border-collapse: collapse;
    }
    tr {

    }
    td {
      padding: 1.2rem;
      border: 1px solid $gray;
      font-size: 1.4rem;
      a {
        color: $red;
      }
    }

  }
}