.contacto {
  width: 100%;
  background: white;
  padding: 0;
  overflow: hidden;
  min-height: 750px;
  height: 93vh;
  &__content {
    display: flex;
  }
}

.contacto-form {
  width: calc( (100% / 6) * 2);
}
.contacto-video {
  width: calc( (100% / 6) * 3);
}

.contacto-maps {
  width: calc( (100% / 6) * 1);
}

@include desktop {
  .contacto {
    min-height: 100%;
    height: auto;
    &__content {
      flex-wrap: wrap;
    }
  }
  .contacto-form {
  width: 50%;
}
  .contacto-video {
    width: 50%;
  }

  .contacto-maps {
    width: 100%;
  }
}

@include tablet {
  .contacto {
    &__content {
      flex-wrap: wrap;
    }
  }
  .contacto-form {
  width: 100%;
}
  .contacto-video {
    display: none;
  }

  .contacto-maps {
    width: 100%;
  }
}