.contacto-form {
  padding: 0 5px 0 5px;
  display: flex;
  flex-direction: column;
  &__header {
    padding: 0 0 3rem 0;
    h2 {
      font-size: 2.4rem;
      color: $red;
      line-height: 3rem;
      font-weight: $bold;
      position: relative;
      z-index: 3;
    }
  }
  &__form {
    .wpcf7 {
      width: 100%;
    }
    .form-field {
      margin: 0 0 3rem 0;
      position: relative;
      z-index: 3;
      &--animated {
         opacity: 0;
         transform: translateY(100px);
         position: relative;
      }
    }

    input[type=text], input[type=email], input[type=tel], textarea{
      width: 100%;
      border: solid 1px $gray;
      padding: 2rem;
      background: white;
      font-size: 1.8rem;
      color: $gray-dark;
      font-weight: $regular;
      line-height: 1;
      font-family: $main-font;
      &::placeholder {
        color: $gray;
        opacity: 1;
      }
      &:focus{
        border: solid 1px $red;
      }
    }

    textarea {
      font-size: 1.8rem;
      max-height: 120px;
    }

    .aceptar {
      position: relative;
      z-index: -9999;
      position: relative;
       margin: 0;
      &+span {
        font-size: 1.6rem;
        color: $gray;
        font-weight: $regular;
        padding: 0 0 0 2rem;
        display: block;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          height: 15px;
          width: 15px;
          background: white;
          left: -7px;
          top: 0;
          border-radius: 50%;
          border: 1px solid $gray;
        }
      }
      &:checked + span {
        &:before {
          background: $red;
        }
      }
    }
    .consulta {
      display: inline-block;
      color: $gray;
      font-size: 1.6rem;
      font-weight: $regular;
      padding: 2rem 0 0 3rem;
      a {
        color: $red;
      }
    }
    input[type=submit] {
      background: $gray;
      color: white;
      font-size: 2.5rem;
      padding: 1rem 2rem;
       transition: all 0.3s ease;
       cursor: pointer;
      &:hover {
        background: $red;
        color: white;
        transition: all 0.3s ease;
      }
    }
  }
}

span.wpcf7-not-valid-tip {
  color: $red;
  font-size: 1.4rem;
  font-weight: 400;
  display: block;
  position: absolute;
  bottom: -40px;
  left: 0;
}

.comentarios {
  span.wpcf7-not-valid-tip {
     bottom: -20px;
  }
}

div.wpcf7-response-output {
    position: absolute;
    opacity: 0;
}

div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
    border: 2px solid #f7e700;
    position: absolute;
    display: none !important;
}

div.wpcf7 .ajax-loader {
   display: none !important;
}

