.contacto-form {
  padding: 0;
  display: flex;
  flex-direction: column;
  &__header {
    padding: 0 0 1rem 0;
    h2 {
      font-size: 2.4rem;
      color: $red;
      line-height: 3rem;
      font-weight: $bold;
      position: relative;
      z-index: 3;
    }
  }

}