.contacto-form {
  padding: 0 $pad;
  display: flex;
  flex-direction: column;
  &__header {
    padding: 0 0 $pad 0;
    min-height: 120px;
    h2 {
      font-size: 3.2rem;
      color: $red;
      line-height: 4rem;
      font-weight: $bold;
    }
  }
  &__form {
    .wpcf7 {
      width: 100%;
    }
    .form-field {
      margin: 0 0 3rem 0;
    }

    input[type=text], input[type=email], input[type=tel], textarea{
      width: 100%;
      border: solid 2px $gray;
      padding: 2rem;
      background: white;
      font-size: 7rem;
      color: $red;
      font-weight: $bold;
      line-height: 1;
      font-family: $main-font;
      &::placeholder {
        color: $gray;
        opacity: 1;

      }
    }

    textarea {
      font-size: 5rem;
      max-height: 300px;
    }

     .aceptar {
      position: relative;
      z-index: -9999;
      position: relative;
       margin: 0;
      &+span {
        font-size: 1.8rem;
        color: $gray;
        font-weight: $bold;
        padding: 0 0 0 2rem;
        display: block;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          height: 15px;
          width: 15px;
          background: white;
          left: -7px;
          top: 0;
          border-radius: 50%;
          border: 1px solid $gray;
        }
      }
      &:checked + span {
        &:before {
          background: $red;
        }
      }
    }
    .consulta {
      display: inline-block;
      color: $red;
      font-size: 1.8rem;
      font-weight: $bold;
      padding: 2rem 0 0 3rem;
    }
    input[type=submit] {
      background: lighten($gray, 10%);
      color: $gray-dark;
      font-size: 4rem;
      padding: 3rem 5rem;
       transition: all 0.3s ease;
      &:hover {
        background: $red;
        color: white;
        transition: all 0.3s ease;
      }
    }
  }
}

@include desktop {
  .contacto-form {
    padding: 0 $pad-grid 4rem $pad-grid;
    &__header {
      min-height: auto;
    }
  }
}
