.newsletter {
  padding: 0 0 4rem 0;

}

#fp-nav {
  ul {

  }
  li {
    width: 30px !important;
    height: 10px !important;
  }
  a {
    &.active {
      li {
        width: 30px !important;
        height: 10px !important;
        transform: scale(0);
      }
      span {
        margin: 0;
        width: 30px !important;
        height: 10px !important;
      }
    }

  }

  span {
    border-radius: 0 !important;
    background: $red !important;
    width: 100% !important;


  }
}

.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 13;
  &__line {
    background: $red;
    width: 15%;
    height: 10px;
    position: absolute;
  }

}