*, html, body {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  >svg {
    display: none;
  }
}

.body--big {
   padding: 7.4rem 0 0 0 !important;
}

.body--small {
   padding: 7.4rem 0 0 0 !important;
}

a {
  text-decoration: none;
}

button:focus {
  outline: 0;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.visible {
  opacity: 1;
  visibility: visible;
   transition: opacity 0.3s ease;
}

.overflowHidden {
  overflow: hidden;
}

video::-webkit-media-controls-overlay-play-button {
  display: none;
}

video::-webkit-media-controls {
    display:none !important;
}



img, h1, h2, h3, h4, h5, h6, p, a, figure, input, textarea, video {
  //position: relative;
  z-index: $z-content;
}

.overgrid {
   z-index: $z-content;
}


