html {
  font-size: 62.5%;
}

body {
  font-family: $main-font;
}

h1 {

  font-weight: $bold;
}

h2 {
  font-size: 7.2rem;
   line-height: 8.2rem;
}

h3 {
  font-size: 4.8rem;
   line-height: 5.8rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 3.4rem;
}

p {
  font-size: 1.6rem;
   line-height: 2.6rem;
}


// .variable {
//   font-family: 'Source Sans';
//   transition: font-weight .45s ease-out;
//   color: $red;
// }

// .variable:hover{
//   font-weight: 999;
// }

// .variableiA {
//   font-family: 'iA';
//   transition: font-variation-settings .45s ease-out;
//   color: $red;
//   font-variation-settings: "wght" 400, "SPCG" 0;
// }

// .variableiA:hover{

//   font-variation-settings: "wght" 600, "SPCG" 10;
//   transition: font-variation-settings .45s ease-out;
// }


