.casos-list {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

}

.caso {
  margin: 0 0 4rem 0;
  &__top--youtube {
    display: block;
    z-index: 10;
    margin: 0 0 2rem 0;
    overflow: hidden;
  }
  &__top--video {
    display: block;
    z-index: 10;
    margin: 0 0 2rem 0;
    overflow: hidden;
  }
  &__youtube {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    z-index: 0 !important;
    pointer-events: none;
    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0 !important;
    }
  }

  &__video {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100%;
    video {
      position: absolute;
      @include center;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      object-fit: cover;
    }

  }
  &__play {
    position: absolute;
    @include center;
    z-index: $zcounter;
    svg {
       width: 60px;
    }
  }
  &__info {

  }
  &__name {
    font-size: 3rem;
    line-height: 4rem;
    color: $red;
    font-weight: $bold;

  }
  &__campaign {
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: $gray;
    font-weight: $bold;
  }


  &--full {
    width: 100%;
  }
  &--half {
    width: 49%;
    .caso__top--youtube {
      height: 26vw;
      min-height: 10vw;
      max-height: 420px;
      margin: 0 0 2rem 0;
    }
    .caso__top--video {
      height: 26vw;
      min-height: 200px;
      max-height: 420px;
      margin: 0 0 2rem 0;
    }
    .caso__video {
      height: 26vw;
      min-height: 200px;
      max-height: 420px;
    }
  }
  &--third {
    width: 33%;
    .caso__top--youtube {
      height: 17.5vw;
      min-height: 10vw;
      max-height: 280px;
      margin: 0 0 2rem 0;
    }
    .caso__top--video {
      height: 17.5vw;
      min-height: 190px;
      max-height: 280px;
      margin: 0 0 2rem 0;
    }
    .caso__video {
      height: 17vw;
      min-height: 190px;
      max-height: 280px;
    }
  }
}

@include desktop {
  .caso {
    margin: 0 0 4rem 0;
    &--full {
      width: 100%;
      .caso__top--youtube {
        height: 47vw;
        min-height: auto;
        max-height: 100%;
        margin: 0 0 2rem 0;
      }
      .caso__top--video {
        height: 47vw;
        min-height: auto;
        max-height: 100%;
        margin: 0 0 2rem 0;
      }
      .caso__video {
        height: 47vw;
         min-height: auto;
        max-height: 100%;
      }
    }
    &--half {
      width: 100%;
      .caso__top--youtube {
        height: 47vw;
        min-height: auto;
        max-height: 100%;
        margin: 0 0 2rem 0;
      }
      .caso__top--video {
        height: 47vw;
        min-height: auto;
        max-height: 100%;
        margin: 0 0 2rem 0;
      }
      .caso__video {
        height: 47vw;
         min-height: auto;
        max-height: 100%;
      }
    }
    &--third {
      width: 100%;
      .caso__top--youtube {
        height: 47vw;
        min-height: auto;
        max-height: 100%;
        margin: 0 0 2rem 0;
      }
      .caso__top--video {
        height: 47vw;
        min-height: auto;
        max-height: 100%;
        margin: 0 0 2rem 0;
      }
      .caso__video {
        height: 47vw;
         min-height: auto;
        max-height: 100%;
      }
  }
  }

}