.clientes-list {
  width: 100%;
  background: $red;
  position: relative;
  &__crumb {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    h2 {
      font-size: 3.6rem;
      line-height: 4rem;
      color: white;
      font-weight: $bold;
      margin: 0 0 2rem 0;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background: $red;

  }
  &__block {
    height: 15vw;
    max-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $red;

  }
  &__square {
    background: $red;
    &:first-child {
      align-items: flex-start;
      justify-content: flex-start;
      &:after {
        padding-top: 4rem;
        content: '//Clientes';
        font-size: 3.6rem;
        line-height: 4rem;
        color: white;
        font-weight: $bold;
        margin: 0 0 2rem 0;
      }
    }
  }
  &__client {
    background: lighten($red, 10%);
    cursor: pointer;
    transition: background 0.3s ease, border 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    position: relative;
    &:after {
      content: '+';
      color: white;
      position: absolute;
      bottom: 1rem;
      right: 1.5rem;
      font-size: 3.5rem;
    }
    &:hover:after {
      color: $red;
    }
    &--nolink {
      cursor: default;
      &:after {
        content: none;
      }
    }
    .logo-color {
      //filter: brightness(0) invert(1);
      width: 60%;
      margin: 0 auto;
      display: none;
    }
    .logo-white {
      width: 60%;
      margin: 0 auto;
      display: block;
    }
    &:hover {
      background: white;
      border: 1px solid white;
      transition: background 0.3s ease, border 0.3s ease;
      .logo-color {
        display: block;
      }
      .logo-white {
        display: none;
      }


      img {
        filter: none;
      }
    }
  }
}

@include desktop {
  .clientes-list {
    &__inner {
      padding: 0 $pad-grid;
      grid-template-columns: repeat(4, 1fr);
    }
    &__block {
      height: 20vw;
    }
  }
}

@include tablet {
  .clientes-list {
    &__inner {
      grid-template-columns: repeat(2, 1fr);
    }
    &__block {
      height: 40vw;
    }
    &__square {
      display: none;
    }

  }
}

@include mobile {
  // .clientes-list {
  //   &__inner {
  //     grid-template-columns: repeat(1, 1fr);
  //   }
  //   &__block {
  //     height: 80vw;
  //   }

  // }
}

