.clientes-footer {
  background: white;
  padding: 10rem 0;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
  &__inner {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-row-gap: 6rem;
  }

  &__tag {
    padding: 0;
    h2 {
      span {
        transform: translateX(-2000px);
        display: block;
        position: relative;
        font-size: 6rem;
        color: $red;
        line-height: 6.8rem;
        font-weight: $bold;
      }
    }
  }

  &__descarga {
    transform: translateX(2000px);
    padding: 0;
    h3 {
      font-size: 3rem;
      color: $red;
      line-height: 4rem;
      font-weight: $bold;
      max-width: 220px;
      margin: 0 0 2rem 0;
    }
  }

  &__marca {
     padding: 0 $half-pad 0 0;
     h4 {
      font-size: 3.6rem;
      color: $red;
      line-height: 4rem;
      font-weight: $bold;
      border-bottom: 1px solid $red;
      padding: 0 0 1rem 0;
      display: block;
      transform: translateX(-2000px);
     }
  }

  &__contacto {
    padding: 3.5rem 0 0 0;
    display: flex;
    transform: translateX(2000px);
    align-items: center;
    h4 {
      font-size: 2rem;
      color: $red;
      line-height: 3rem;
      font-weight: $bold;
      display: block;
      margin: 0 3rem 0 0;
    }
  }
}

@include desktop {
  .clientes-footer {
    &__inner {
      padding: 10rem 0;
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 6rem;
    }
    &__tag {
      padding: 0 calc( 100vw / 12);
      h2 {
        font-size: 6rem;
        line-height: 7rem;
      }
    }
    &__descarga {
      padding: 0 calc( 100vw / 12);
    }

    &__marca {
      padding: 0 calc( 100vw / 12);
      h4 {
        font-size: 2rem;
        line-height: 3rem;
        display: inline-block;
      }
    }
    &__contacto {
      padding: 0 calc( 100vw / 12);
    }
  }
}
