.clientes-bottom {
   background: $red;
  &__inner {
    padding: 6rem 0 10rem 0;
  }
  &__tag {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    h2 {
      width: 50%;
      font-weight: $bold;
      font-size: 4.8rem;
      color: white;
      line-height: 5.8rem;
    }
    margin: 0 0 10rem 0;
  }

  &__colofon {
     display: flex;
    justify-content: flex-start;
    p {
      max-width: 800px;
      font-weight: $bold;
      font-size: 3rem;
      color: white;
      line-height: 4rem;
    }
  }
}

@include desktop {
  .clientes-bottom {
    &__tag {
      h2 {
        font-size: 3.8rem;
        line-height: 4.8rem;
      }
    }
    &__colofon {
      p {
        font-size: 2rem;
        line-height: 3rem;
      }
    }
  }
}

@include tablet {
  .clientes-bottom {
    &__tag {
      width: 100%;
      justify-content: flex-start;
      h2 {
        font-size: 3.8rem;
        line-height: 4.8rem;
        width: 100%;
      }
    }
    &__colofon {
      p {
        font-size: 2rem;
        line-height: 3rem;
      }
    }
  }
}
