.trabaja-top {
  padding: 4rem 0;
  position: relative;
  &__inner {

  }
  &__title {
    span {
      display: block;
      font-size: 6rem;
      line-height: 6.5rem;
      color: $red;
    }
    max-width: 900px;
    margin: 0 0 3rem 0;
  }

   &__link {
    display: flex;
    background: $red;
    color: white;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.6rem;
    text-align: center;
    line-height: 1;
    align-items: center;
    cursor: pointer;
  }

  &__intro {
    p {
      max-width: 700px;
      width: 100%;
      color: #aaaaaa;
      font-size: 1.8rem;
    }
  }
}

@include tablet {
  .trabaja-top {
    padding: 6rem 0 0 0;
    &__title {
      span {
        font-size: 2.5rem;
        line-height: 3rem;
      }
    }
    &__intro {
      display: none;
    }
  }
}