.cliente-side {
  padding: 0;
  flex-direction: column;
  justify-content: flex-start;
  &--desktop {
    display: flex;
  }
  &--mobile {
    display: none;
  }

  &__info {
    width: 100%;
    text-align: left;
    margin: 10vw 0 0 0;
  }

  &__logo {
    img {
      width: 60%;

      height: auto;
    }

  }
  &__section {
    margin: 0 0 2rem 0;
  }
  &__subtitle {
    font-size: 1.8rem;
    font-weight: $regular;
    color: $gray;
    line-height: 2.8rem;
  }
  &__heading {
    font-size: 1.8rem;
    font-weight: $bold;
   color: black;
    line-height: 2.8rem;
  }
}

@include desktop {
  .cliente-side {
    padding: 4rem 0 0 0;

    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    &--desktop {
      display: none;
    }
    &--mobile {
      display: flex;
      padding: 0 0 2rem 0;
    }

    &__info {
      width: 50%;
      text-align: left;
      margin: 0;
      order: 1;

    }

    &__logo {
      width: 50%;
      order: 2;
      text-align: center;
      height: 100%;

      img {
        width: 70%;
        max-width: 150px;
        height: auto;
      }


    }
    &__section {
      margin: 0 0 2rem 0;
    }
    &__subtitle {
      font-size: 1.6rem;
      font-weight: $regular;
      color: $gray;
      line-height: 2.6rem;
    }
    &__heading {
      font-size: 1.6rem;
      font-weight: $bold;
     color: black;
      line-height: 2.6rem;
    }


  }


}


