.cliente-side {

  position: absolute;
  left: 0;
  top: -130px;
  background: $gray-dark;
  width: calc( (1600px / 6 ) + ( (100vw - 1600px) / 2 ) + 2.6rem );
  display: flex;
  padding: 2rem;
  flex-direction: column;
  z-index: 10;

  &__top {
    text-align: left;
    width: 100%;
   h2{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: transparent;
    font-size: 6rem;
    width: 100%;
    display: block;
    text-transform: uppercase;
    }
  }

  &__thumb {
    position: absolute;
    left: 2rem;
    top: 10vw;
    img {
      width: calc( ( (1600px / 6)*2 ) + ( (100vw - 1600px) / 2 ) - 2rem );
      height: auto;
      // min-width: 450px;
      // max-width: 550px;
    }
  }
  &__info {
    width: 100%;
    text-align: left;
    margin: 32vw 0 0 0;
  }

  &__logo {
    height: 30px;
    margin: 0 0 2rem 0;
  }
  &__section {
    margin: 0 0 4rem 0;
  }
  &__subtitle {
    font-size: 3rem;
    font-weight: $bold;
    color: white;
    opacity: 0.5;
    line-height: 3.2rem;
  }
  &__heading {
    font-size: 3rem;
    font-weight: $bold;
    color: white;
    line-height: 3.2rem;
  }

  &__social {
    display: flex;
    flex-direction: column;
    padding: 400px 0 0 0;
    a {
      margin: 0 0 2rem 0;
      i {
        font-size: 3rem;
        color: white;
      }
    }
  }
}

@include desktop-wide {
  .cliente-side {
    width: calc( (100vw / 6 ) + 2.6rem );
    &__thumb {
      top: 14vw;
      img {
         width: calc( ( (100vw / 6 )*2 ) - 2rem );
      }
    }
  }
}


