.cliente-footer {
  padding: 10rem 0;
  background: white;
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
  &__inner {
    display: grid;
    grid-template-columns: 5fr 1fr;
    // grid-template-areas:
    //   'a a a a a b'
    //   'c c c c c d';
    grid-row-gap: 6rem;
  }

  &__marca {
     padding: 0 $half-pad 0 0;
     h4 {
      font-size: 3.6rem;
      color: $red;
      line-height: 4rem;
      font-weight: 600;
      border-bottom: 1px solid $red;
      padding: 0 0 1rem 0;
      display: block;
       transform: translateX(-2000px);
     }
  }

  &__contacto {
    padding: 3.5rem 0 0 0;
    display: flex;
    transform: translateX(2000px);

    align-items: center;
    h4 {
      font-size: 2rem;
      color: $red;
      line-height: 3rem;
      font-weight: $bold;
      display: block;
      margin: 0 3rem 0 0;
     }
  }
}
