.canal-main{
  padding: 0 0 10rem 0;
  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }
  &__bottom {
    display: flex;
    justify-content: center;
  }
  &__load {
    opacity: 0;
    visibility: hidden;
    background: $gray;
    color: white;
    display: inline-block;
    padding: 1rem;
    border-radius: 4px;
    font-size: 1.8rem;
    position: relative;
    z-index: 4;
    border: 1px solid $gray;
    cursor: pointer;
    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }
}

.canal-toggles {
  width: 100%;
  visibilty: hidden;
  opacity: 0;
}

.canal-article {
  width: 32.5%;
  transform: translateY(100px);
  position: relative;
  margin: 0 0.8% 4rem 0;
  opacity: 0;
  padding: 0 0 3rem 0;
  &:nth-child(3n) {
    width: 33.3333%;
    margin: 0 0 4rem 0;
  }
  &__hero {
    display: block;
    overflow: hidden;
    margin-bottom: 1rem;
    overflow: hidden;
    height: 15vw;
    figure {
      height: 100%;
      //max-height: 300px;
      margin: 0 0 1rem 0;
      @include backgroundCover;
      width: 100%;
      transform: scale3d(1, 1, 1);
      transition: transform 0.2s ease;
    }
    &:hover {
      figure {
        transform: scale3d(1.05, 1.05, 1);
        transition: transform 0.2s ease;
      }
    }
  }
  &__title {
    font-size: 2.6rem;
    line-height: 3.2rem;
    color: $red;
    font-weight: $bold;
    margin: 0 0 0.5rem 0;
   // min-height: 100px;
    display: block;
  }
  &__meta {
    padding: 0;
    margin: 0 0 2rem 0;
  }

  .article-date {
    color: $gray;
    font-size: 1.4rem;
    font-weight: $bold;
    margin: 0 0 3rem 0;
  }

  &__category {
    display: inline-block;
    text-align: center;
    color: white;
    padding: 1rem;
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
    border-radius: 4px;
  }
  &__excerpt {
    color: $gray;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: $regular;
    p {
      line-height: 2rem;
    }
  }
}

.canal-main__list--results {
  flex-direction: column;
  align-items: center;
  display: flex;
  .canal-article {
    width: 83.3333%;
    margin: 0 0 4rem 0;
    display: flex;
    align-items: flex-end;
    &:nth-child(3n) {
      margin: 0 0 4rem 0;
    }
    &__info {
      display: flex;
      padding: 0 0 0 2rem;
      flex-direction: column;
      align-items: flex-start;
      max-width: 700px;
    }
    &__hero {
      width: 100%;
      max-width: 20%;
      figure {
        height: 30vw;
        max-height: 210px;
        margin: 0;
        width: 100%;
      }
    }
    &__category {
      margin: 0 0 1rem 0;
    }
  }
}

.no-results {
  font-size: 4rem;
  color: $red;
  text-align: center;
}

@include desktop {
  .canal-main{
    &__list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  .canal-toggles {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 0 1rem 0;
    width: 100%;
    visibilty: visible;
    opacity: 1;
    span {
      display: none;
      padding: 1rem 3rem 1rem 1rem;
      background: white;
      position: relative;
      z-index: 10;
      color: $gray-dark;
      border: 1px solid $gray-dark;
      border-radius: 4px;
      margin: 0 1rem 0 0;
      font-size: 1.6rem;
      line-height: 1;
      cursor: pointer;
      &:after {
        content: '';
        position: absolute;
        right: 1rem;
        top: 10px;
        width: 15px;
        height: 15px;
        background: url(../images/close.svg) no-repeat right center / contain;
      }
      &.show {
        display: inline-block;
      }
    }

  }
  .canal-article {
    width: 48%;
    margin: 0 1% 4rem 0;
    &__hero {
      height: 30vw;
      figure {
        max-height: 100%;
      }
    }

    &:nth-child(3n) {
      width: 48%;
      margin: 0 1% 4rem 0;
    }

    &:nth-child(2n) {
      width: 50%;
      margin: 0 0 4rem 0;
    }
  }

  .canal-main__list--results {
    flex-direction: column;
    align-items: center;
     .no-results {
      font-size: 3rem;
      color: $red;
      text-align: center;
    }
    .canal-article {
      width: 100%;
      margin: 0 0 4rem 0;
      display: flex;
      align-items: flex-end;
      &:nth-child(3n) {
        margin: 0 0 4rem 0;
      }
      &__info {
        display: flex;
        padding: 0 0 0 2rem;
        flex-direction: column;
        align-items: flex-start;
        max-width: 100%;
      }
      &__hero {
        width: 100%;
        max-width: 30%;
        min-width: 30%;
        figure {
          height: 30vw;
          max-height: 210px;
          margin: 0;
          width: 100%;
        }
      }
      &__title {
        font-size: 2.2rem;
        line-height: 3rem;
      }
      &__category {
        margin: 0 0 1rem 0;
      }
    }
  }
}
@include tablet {
  .canal-article {
    width: 100%;
    margin: 0 0 4rem 0;
    &:nth-child(2n), &:nth-child(3n) {
      width: 100%;
      margin: 0 0 4rem 0;
    }
    &__hero {
      height: 50vw;
      max-height: 400px;
      figure {
        max-height: 100%;
      }
    }
    &__title {
      //min-height: 100%;
    }
  }
  .no-results {
    margin: 2rem 0 0 0;
    font-size: 3rem;
    color: $red;
    text-align: center;
  }
}

