.canal-main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.canal-article {
  width: 49%;
 //transform: translateY(100px);
  position: relative;
  margin: 0 0 4rem 0;
  //opacity: 0;
  &__hero {
    figure {
      margin: 0 0 4rem 0;
      height: 30vw;
      max-height: 400px;
      margin: 0 0 4rem 0;
    }
  }
  &__title {
    font-size: 4rem;
    line-height: 4.6rem;
  }
  &__meta {
    padding: 2rem 0;
    margin: 0 0 2rem 0;
  }
  &__excerpt {
    font-size: 1.6rem;
    font-weight: $regular;
  }
}
